@import '../../../common styles/button';


.table{
  margin: 0 auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding:5px 40px  ;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

}
//table {
//
//}

.text{
  text-align: center;
}

.btn{
  margin-top: 20px;
  @extend .btn_green;
  margin-right: 90px;

  float: right;
}